@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto');
/*=============================================
Css Indexing
===============================================
1 Base CSS

===============================================*/





/*===========================================
Base CSS
============================================*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {


}
html {
  height: 100%;
}
body {
    box-sizing: border-box;
    width: 400px;
    height: 300px;
    background-color: #fff;
    margin: auto; 
    margin-top: 80px;
    padding: 25px 0;
    box-shadow: 0 0 15px #8c8d8c;
    border-radius: 10px;
}



a{
    text-decoration: none;
    
}

h1{
    margin-left:  12px;
}
p{
    text-align: center;
    font-family: inherit;
    padding-top: 15px;
    padding-bottom: 1px;
    margin: 20px;
    font-size: 18px;
}

.back ul{
    
    list-style-type: none;
    padding: 10px 0px 0px 15px;
    
}
